html, body {
  min-height: 100%;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
}

.applicationWrap {
  min-height: 100%;
}

.landing {
  height: 100vh;
  background: rgb(142,36,170);
  background: linear-gradient(145deg, rgba(142,36,170,1) 0%, rgba(186,104,200,1) 100%);
}

.nav_container {
  height: 300px;
  background: rgb(142,36,170);
  background: linear-gradient(145deg, rgba(142,36,170,1) 0%, rgba(186,104,200,1) 100%);
  position: relative;
}

.inverted_page {
  padding-top: 25px;
  background: #212121;
  color: white;
  margin-bottom: -200px;
  padding-bottom: 200px;
}

.district_container {
  background: linear-gradient(145deg, #EE5930 0%, rgba(255, 87, 34, 1) 100%);
}


#granim-canvas, #granim-canvas-footer, #nav_anim-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#granim-canvas {
  height: 100vh;
}

.contentContain {
  height: 100%;
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
}

.navbar {
  height: 90px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav_menu_icon {
  width: 25px;
  cursor: pointer;
}

.nav_section {
  height: calc(100% - 265px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.nav_link_section {
  display: flex;
}

.nav_link {
  width: 33.3%;
  font-size: 20px;
  padding: 2px;
}

.link_text {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: none;
  transition: 0.5s ease-in;
}

.link_text:hover {
  color: #FFEE58;
}

.copyright {
  margin-bottom: 0px;
  margin-top: 11px;
}

.logos {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.logos_section {
  display: none;
  position: absolute;
  bottom: 30px;
}

.logos_section_title {
  font-size: 22px;
}

.punjabgov {
  width: 120px;
}

.dfid {
  width: 250px;
  margin: 0px 30px;
}

.unfpa {
  width: 200px;
}

.pcsw {
  height: 100%;
  display: flex;
  position: relative;
  z-index: 5;
  align-items: center;
  color: white;
  cursor: pointer;
}

.pcswlogo {
  width: 65px;
  height: 60px;
  margin-right: 12px;
}

.pcswName {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 4px;
}

.bottomBar {
  width: 100%;
  color: white;
  height: 70px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fadeinup {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#overlay_menu {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(145deg, rgba(142,36,170,1) 0%, rgba(186,104,200,1) 100%);
}

.landingArrow {
  font-size: 17px;
  color: #FFEE58;
}

.imageTextContainer {
  height: calc(100vh - 190px);
  display: flex;
  align-items: center;
}

.titleContainer {
  width: 50%;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.fadeMeRight {
  width: 60%;
  position: absolute;
  right: 0px;
  margin-right: 100px;
  display: none;
}

.titleContainer {
  margin-left: 100px;
  position: relative;
  z-index: 5;
  color: white;
}

.titleImage {
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 17px 21px 38px -16px rgba(0,0,0,0.5);
  -moz-box-shadow: 17px 21px 38px -16px rgba(0,0,0,0.5);
  box-shadow: 17px 21px 38px -16px rgba(0,0,0,0.5);
}

.overlay_black {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.15;
  border-radius: 15px;
}

.titleSmall {
  font-size: 18px;
  margin: 0px;
  font-weight: 400;
}

#followTitle {
  margin-top: 5px;
  display: none;
}

#preTitle {
  margin-bottom: 5px;
  display: none;
}

.titleLarge {
  font-size: 34px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: 700;
  display: none;
}


.overlay_sunburst {
  background-color: #616161;
  opacity: 0.8;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay_sankey {
  background: linear-gradient(145deg, rgba(142,36,170,0.95) 0%, rgba(186,104,200,0.8) 100%);
}

.textOverlay {
  color: white;
  margin: 80px;
  font-size: 20px;
}

.half {
  width: 50%;
  height: 100vh;
  position: relative;
}

.imagehalf {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunburst {
  display: flex;
}

.project_image_container {
  margin: 0px 80px;
  width: calc(50% - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project_image {
  width: 60%;
}

.tree_image {
  width: 90%;
}

.project_title_description {
  margin: 15px 0px;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: white;
  width: 150px;
  padding: 20px;
  border-radius: 50px;
  background: linear-gradient(145deg, #EE5930 0%, #FFA726 100%);
  background-size: auto 200%;
  background-position: 0 100%;
  transition: background-position 1s;
  /*transition: 2s ease-in; */
}

.button:hover {
  background-position: 0 10%;
}

.disabled {
  background: linear-gradient(145deg, rgb(142, 36, 170) 0%, rgb(186, 104, 200) 100%);
}

.footer_contain {
  margin-top: 50px;
  position: relative;
}

.district_link_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 80px;
  position: relative;
  z-index: 3;
}

.footer_link_image {
  width: 300px;
  border-radius: 15px;
  -webkit-box-shadow: 17px 21px 38px -16px rgba(0,0,0,0.5);
  -moz-box-shadow: 17px 21px 38px -16px rgba(0,0,0,0.5);
  box-shadow: 17px 21px 38px -16px rgba(0,0,0,0.5);
}

.view_districts {
  color: white;
  font-size: 26px;
  font-weight: 600;
  margin-left: -20px;
  border-bottom: 1px solid;
  cursor: pointer;
}

.footer {
  position: absolute;
  top: 65px;
  padding: 150px 80px 40px 80px;
  width: calc(100% - 160px);
  z-index: 1;
}

.footer_item {
  position: relative;
  z-index: 3;
  color: white;
}

.pcsw_footer, .proj_title {
  font-size: 28px;
  color: white;
  margin-bottom: 5px;
}

.proj_title {
  margin: 0px;
}

.pcsw_contact {
  display: flex;
}

.officeContact {
  margin-bottom: 5px;
  margin-top: 5px;
  color: #eee;
}

.fa-phone {
  margin-left: 12px;
  margin-right: 7px;
}

.fa-map-marker-alt {
  margin-right: 7px;
}

.socIcon, .socMidIcon {
  margin-top: 8px;
  cursor: pointer;
}

.footSocIcons {
  font-size: 18px;
}

.footer_partners {
  position: absolute;
  height: 90px;
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.footer_icon {
  height: 80px;
}

.footer_icon_small {
  height: 50px;
}

.visualization_title_container {
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sunburst_wrapper {
  display: flex;
}

#sunburst_container_main {
  width: 70%;
}

#sunburst_controls {
  width: 30%;
}

#sunburst_container {
  position: relative;
  display: flex;
  justify-content: center;
}

.sunburst_midbutt {
  margin: 10px 0px;
}


.section_title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
}

.nomargin {
  margin: 0px;
}

.section_question {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0px;
  font-family: 'Frank Ruhl Libre', serif;
  color: #455A64;
}

.section_note {
  font-size: 16px;
  font-weight: 700;
}

.section_text {
  font-size: 16px;
  line-height: 1.5;
}

.questions_wrapper {
  margin: 50px 130px;
  display: flex;
}

.questions_container {
  width: 80%;
  padding-left: 15px;
  border-left: 3px solid;
  border-color: rgba(142,36,170,1);
}

.text_container {
  margin: 20px 85px;
}

.vis_heading {
  margin: 50px 0px;
  text-align: center;
}

.vis_parent {
  margin-top: 50px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-color: rgba(142,36,170,1);
}

.orange_bar {
  border-color: #9E9E9E;
}

.guiding_head {
  font-weight: 600;
  color: rgba(142,36,170,1);
}

.questions_header {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#neet_tree_container {
  margin-top: 45px;
}

.s-p__tooltip {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 260px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  z-index: 100;
  box-shadow: 8px 13px 21px -10px rgba(177,179,178,0.65);
}

.s-p__tooltip-header{
  background: linear-gradient(145deg, rgba(142,36,170,0.7) 0%, rgba(186,104,200,0.7) 100%);
  color: white;
  margin: -10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.s-p__tooltip-header h1 {
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
}

.s-p__tooltip-body p {
  margin: 5px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.sp-data {
  font-weight: 700;
}

#sankey_container{
  max-width: 1300px;
}

.sankey_filters {
  display: flex;
  justify-content: center;
}

#vaw_heat_container_main {
  display: flex;
  flex-direction: row;
}

#vaw_heat_container {
  width: 65%;
}

#vaw_heat_description  {
  width: 35%;
}

#scatter_container_main, #bubble_container_main {
  display: flex;
}

#scatter_container, #bubble_container {
  width: 65%;
}

#scatter_controls, #bubble_controls {
  width: 35%;
}

.table {
  border: 2px solid;
  border-color: rgba(142,36,170,1);
  border-radius: 15px;
  overflow: hidden;
  width: 75%;
  margin: 10px 0px;
}

.tableheading {
  display: flex;
  padding: 12px 0px;
  color: white;
  font-size: 20px;
  background: linear-gradient(145deg, rgba(142,36,170,1) 0%, rgba(186,104,200,1) 100%);
}

.heading {
  width: 50%;
  text-align: center;
}

.tableValues {
  display: flex;
}

.tableVal {
  width: 50%;
  text-align: center;
}

.CategListElem {
  font-size: 12px;
}

.categLabel {
  font-weight: 700;
}

.div_diagram_wrapper {
  display: flex;
}

.div_diagram_section {
  width: 50%;
  margin: 8px 10px;
}

.div_diagram_half_section {
  width: 50%;
  display: flex; flex-direction: column;
}

.div_diagram_full_section {
  width: 100%;
  text-align: center;
  border-radius: 50px;
  margin: 3px 0px;
  padding: 6px 0px;
  color: white;
}

.div_diagram_title {
  padding: 10px 0px;
}

.purple {
  background: linear-gradient(145deg, rgba(142,36,170,1) 0%, rgba(186,104,200,1) 100%);
}

.orange {
  background: linear-gradient(145deg, #EE5930 0%, #FFA726 100%);
}

@media only screen and (min-width: 1650px) {
  .contentContain {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media only screen and (max-width: 1250px) {
  .sunburst_button {
    width: 80px;
    font-size: 14px;
  }
  #sunburst_controls {
    width: 15%;
  }
  #sunburst_container_main {
    width: 85%;
  }
  #trailAndPercent {
    flex-wrap: wrap;
  }
  #sequence {
    height: 80px;
  }
}



@media only screen and (max-width: 1100px) {
  .fadeMeRight {
    margin-right: 25px;
  }
  .titleContainer {
    margin-left: 25px;
  }
  .textOverlay {
    margin: 40px;
  }
  .project_image_container {
    margin-left: 40px;
    margin-right: 40px;
    width: calc(50% - 80px);
  }
  .nav_link {
    font-size: 16px;
  }
  .logos {
    height: 80px;
  }
  .punjabgov {
    width: 95px;
  }

  .dfid {
    width: 180px;
    margin: 0px 20px;
  }

  .unfpa {
    width: 160px;
  }
}

@media only screen and (max-width: 875px) {
  .titleLarge {
    font-size: 30px;
  }
  .nav_link {
    font-size: 14px;
  }
  .logos_section_title {
    font-size: 18px;
  }
  .logos {
    height: 60px;
  }
  .punjabgov {
    width: 75px;
  }

  .dfid {
    width: 150px;
    margin: 0px 20px;
  }

  .unfpa {
    width: 140px;
  }
  .text_container {
    margin: 20px 40px;
  }
  .questions_wrapper {
    margin: 50px 50px;
  }
  #bubble_container_main, #scatter_container_main {
    flex-direction: column-reverse;
  }
  #scatter_container, #bubble_container {
    width: 100%;
    margin-top: 60px;
  }
  #scatter_controls, #bubble_controls {
    width: 50%;
  }
  .div_digram_text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 775px) {
  .imageTextContainer {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }
  .fadeMeRight {
    margin: 0px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  }

  .titleContainer {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
  .sunburst {
    flex-direction: column;
  }
  .half {
    width: 100%;
  }
  #sunburst {
    flex-direction: column-reverse;
  }
  .textOverlay {
    margin: 80px;
  }
  .project_image_container {
    margin-left: 80px;
    margin-right: 80px;
    width: calc(100% - 160px);
  }
  .nav_link {
    font-size: 12px;
  }
  .sunburst_wrapper {
    flex-direction: column-reverse;
  }
  #sunburst_controls {
    width: 100%;
  }
  #sunburst_container_main {
    width: 100%;
  }
  #ButtonContain {
    display: flex;
  }
  .sunburst_button {
    margin: 10px 0px;
  }
  .sunburst_midbutt {
    margin: 10px 5px;
  }
  .text_container {
    margin: 20px 30px;
  }
  .div_digram_text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 650px) {
  .contentContain {
    margin-left: 40px;
    margin-right: 40px;
  }
  .pcswName {
    display: none;
  }
  #followTitle {
    margin-top: 10px;
  }

  #preTitle {
    margin-bottom: 10px;
  }
  .textOverlay {
    margin: 40px;
  }
  .project_image_container {
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 80px);
  }
  .district_link_container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 40px;
  }
  .view_districts {
    margin-left: 0px;
  }
  .footer {
    padding: 225px 40px 40px 40px;
    width: calc(100% - 80px);
  }
  .nav_link_section {
    flex-direction: column;
  }
  .nav_link {
    width: 100%;
    font-size: 13px;
  }
  .copyright {
    font-size: 14px;
  }
  .text_container {
    margin: 20px 20px;
  }
  .questions_wrapper {
    flex-direction: column;
  }
  .questions_container {
    border-top: 2px solid;
    border-left: 0px;
    width: 100%;
    padding-left: 0px;
  }
  .questions_header {
    width: 100%;
    justify-content: flex-start;
  }

  .table {
    width: 100%;
  }
  .div_diagram_wrapper {
    flex-direction: column;
  }
  .div_diagram_section {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .contentContain {
    margin-left: 20px;
    margin-right: 20px;
  }
  .titleLarge {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .textOverlay {
    margin: 20px;
  }
  .project_image_container {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
  .district_link_container {
    margin: 0px 20px;
  }
  .footer {
    padding: 225px 20px 40px 20px;
    width: calc(100% - 40px);
  }
  .logos {
    flex-wrap: wrap;
    height: 130px;
  }
  .dfid, .unfpa, .punjabgov {
    height: 50%;
  }
  .text_container {
    margin: 20px 8px;
  }
  #scatter_controls, #bubble_controls {
    width: 80%;
  }
}

@media only screen and (max-width: 415px) {
  .titleSmall {
    font-size: 16px;
  }
  .titleLarge {
    font-size: 26px;
  }
  .footer_link_image {
    width: 95%;
  }
  .logos {
    flex-wrap: wrap;
    height: 100px;
  }
  .dfid, .unfpa, .punjabgov {
    height: 50%;
  }
  .punjabgov {
    width: 62px;
  }

  .dfid {
    width: 110px;
    margin: 0px 20px;
  }

  .unfpa {
    width: 100px;
  }
  .sunburst_button {
    width: 50px;
    font-size: 10px;
  }
  .proj_title {
    text-align: center;
  }

  .footer_icon {
    height: 50px;
  }

  .footer_icon_small {
    height: 30px;
  }
  #scatter_controls, #bubble_controls {
    width: 100%;
  }
}


/* Tooltip styling */

.tool {
  position: absolute;
  background: rgba(255,255,255,0.75);
  color: #212121;
  z-index: 1000;
  padding: 4px 0px;
  width: 220px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.neetTool {
  padding: 0px;
  width: 90px;
  height: 35px;
  overflow: hidden;
  background: rgba(255,255,255,0.6);
}

.neet_tool_percent_bar {
  position: absolute;
  height: 100%;
  left: 0;
  background: rgba(255, 171, 145, 0.7);
}

.neet_tool_percent {
  position: absolute;
  height: 100%;
  left: 0;
  font-size: 16px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  z-index: 4;
}

.text_tool {
  padding: 5px 7px;
  font-size: 12px;
}

.colorTypeBar {
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  min-height: 20px;
  display: flex;
  border-right: 9px solid;
  flex-direction: column;
  justify-content: center;
  padding: 2px 0px;
  color: #212121;
  margin-left: 6px;
  margin-top: 5px;
  font-size: 15px;
}

.no_margin {
  margin: 0px;
}

.p_margin {
  margin-top: 0px;
  margin-bottom: 4px;
  color: rgb(142, 36, 170);
}

.perc_heading {
  padding-top: 15px;
  font-size: 18px;
  color: #212121;
}

.percentage {
  font-weight: 700;
}


/* Radio Styling */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: rgba(142,36,170,1);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
